* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, rgb(236, 217, 162), rgb(54, 194, 204));
    background-attachment: fixed;
    display:flex;
    justify-content: center;
    margin: 10px;
    
}

html, 
body {
    max-width: 100vw;
    min-height: 100vh;
}

.flex {
    display: flex;
    justify-content: center;
    align-items:center  
  }

.container1 {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: baseline;
    width: 320px;
    padding: 12px;
    font-size: 12px;
    border: 2px solid; 
    border-radius: 10px;
    border-color: transparent;
    background-color: antiquewhite;
    position:absolute;
    text-align:justify;
}

.container1 img {
    width: 294px;
    height: 196px;
    border-radius: 10px;  
}

.text-container1 {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
}

ul {
    list-style:disc;
    list-style-position: inside;
}

  .container1 img:hover {
    transform: translateY(-5px);
  }

ol {
  list-style-position: inside;
}


hr {
  height: 1px;
  width: 100%;
  border-top: 1px solid rgb(118, 151, 240);
  border-bottom: 1px solid rgb(118, 151, 240);
  margin: 20px;
  margin-left: 0px;
  margin-right: 20px;
}

@media (min-width: 768px) {
  body {
    align-items: flex-start;
  }
}

.preparation-details {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    border-color: transparent;
    background-color: rgb(252, 200, 133);
}

.preparation-details__label {
  font-weight: bold;
}